<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <main>
        <form action="result" method="post" class="filterForm" id="result">
            <input type="radio" name="place" value="amsterdam" id="amsterdam" checked/>
            <label for="amsterdam"></label>

            <input type="radio" name="place" value="haarlem" id="haarlem"/>
            <label for="haarlem"></label>

            <input type="radio" name="place" value="utrecht" id="utrecht"/>
            <label for="utrecht"></label>

            <input type="radio" name="place" value="amersfoort" id="amersfoort"/>
            <label for="amersfoort"></label>

            <input type="radio" name="place" value="soest" id="soest"/>
            <label for="soest"></label>

            <input type="radio" name="place" value="Oosthuizen" id="oosthuizen"/>
            <label for="oosthuizen"></label>

            <input type="radio" name="place" value="nieuw-vennep" id="nieuw-vennep"/>
            <label for="nieuw-vennep"></label>

            <input type="radio" name="place" value="Denhelder" id="denhelder"/>
            <label for="denhelder"></label>

            <input type="radio" name="place" value="Baarn" id="baarn"/>
            <label for="baarn"></label>

            <input type="radio" name="place" value="Beverwijk" id="beverwijk"/>
            <label for="beverwijk"></label>

            <input type="radio" name="place" value="leeuwarden" id="leeuwarden"/>
            <label for="leeuwarden"></label>

            <button type="submit" name="getVal">volgende</button>
        </form>
    </main>
    <% include ../partials/script %>
</body>
</html>
