<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <% properties.Objects.forEach(function(property){ %>
      <div class="property">
        <a href="result/<%= property.Id %>"><%= property.Adres %></a>
      </div>
    <% }); %>
</body>
</html>
